:root {
    --orange: #c03221ff;
    --ghost-white: #f7f7ffff;
    --champagne: #f2d0a4ff;
    --independence: #454c5fff;
    --viridian: #3f826dff;
}
*{
    margin:0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
    background: rgb(215,215,215);
    background: linear-gradient(180deg, rgba(215,215,215,1) 0%, rgba(255,255,255,1) 100%);
    height: 20vh;
    z-index: 1;
}

.navbar{
    display: flex;
    gap: 20px;
    margin-right: 50px;
}

a {
    width: 200px;
    height: 45px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color: var(--independence);
    font-weight: 700;
    position: relative;
    transition: all 0.5s;
    
}

a::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: var(--champagne);
    z-index: -1;
    transition: all 0.5s;
    
}

a:hover::before {
    width: 100%;
   }
   
   

#hero{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.buttons{
    display: flex;
    margin-top: 30px;
}

.button {
    width: 200px;
    height: 45px;
    font-size: 2vh;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color: var(--independence);
    font-weight: 700;
    position: relative;
    transition: all 0.5s;
    margin: 20px;
   }
   
   .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: var(--independence);
    z-index: -1;
    transition: all 0.5s;
   }
   
   .button:hover::before {
    width: 100%;
   }
   
   .button:hover {
    color: var(--ghost-white);
   }
   
   .button:active:before {
    background: #b9b9b9;
   }

.hero-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 30px;

}

.hero-left h1{
    color: var(--independence);
    font-size:10vh;
    margin-bottom: 20px;
}

.hero-left p {
    color: var(--orange) ;
    margin-right: 50px;
    font-size: 4vh;
    opacity: 0.7;

}

.hero-right{
    width: 50%;
    height: 70vh;
}

.hero-right img{
    width: 100%;
    border-radius: 10px;
}

#about-us{
    text-align: center;
}

#about-us h1{
    font-size: 40px;
    color: var(--independence);
}

.advantages{
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin: 30px;
    height: auto;
    
    height: 30vh;
}

.advantages i{
    font-size: 10vh;
    color: var(--viridian);
    
}

.advantages h3{
    font-size: 30px;
    color: var(--independence);
}

.advantages p{
    font-size: 2vh;
    color: var(--orange);
    opacity: 0.7;
}

.benefits{
    display: flex;
    flex-direction: column;
    width: 20%;
    text-align: center;
    justify-content: space-between;
    gap: 20px;
}

.benefits p{
    text-align: center;
}

.cards{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.card {
    width: 220px;
    height: 320px;
    background: white;
    padding: .4em;
    border-radius: 6px;
    box-shadow: 5px 5px 20px grey;
    
  }
  
  .card-image img {
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 60%;
    border-radius: 6px 6px 0 0;
  }
  
  .card:hover {
    transform: scale(1.10);
    transition: ease 0.5s;
  }
  
  .card-title {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: var(--independence);
    padding: 10px 7px 0;
  }

  .card-description {
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 7px;
  }

  .card-zone {
    color: gray;
    font-weight: 400;
    font-size: 11px;
    padding-top: 20px;
    margin-left: 10px;
  }

  
  #contact{
    display: flex;
    justify-content: center;
  }

  #contact h1 {
    text-align: center;
    padding: 15px;
  }
  
  .container {
    align-items: center;
    width: 60%;
    border-radius: 5px;
    background-color: var(--ghost-white);
    box-shadow: 10px 10px 10px 10px grey ;
    padding: 20px;
  }


input[type=text], textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  input[type=email] {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }


  .footer{
    width: 100%;
    height: 50px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(215,215,215);
    background: linear-gradient(0deg, rgba(215,215,215,1) 0%, rgba(255,255,255,1) 100%);
  }

  #login-body{
    background-image: url(./img/city-cityscape-night-architecture-anime-skyline-125676-wallhere.com.jpg)  ;
    background-position: 0;
  }

  #login{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
  }


  .login-container{
    background-color: var(--ghost-white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 5px 5px 5px 5px black;
    height: 600px;
    width: 400px;  
}


  .login-container input[type=submit]{
    width: 100%;
    margin-top: 20px;
  }

  .login-container input[type=submit]:hover{
    background-color: var(--orange);
    transition: ease 0.5s;
  }

  .login-span{
    opacity: 0.5;
  }

  .login-social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:40px;
  }

  .login-social i{
    font-size: 20px;
    margin-right: 10px;
  }

  .social-button{
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-color: grey  ;
    height: 40px;
    width: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
  }

  .social-button:hover{
    background-color: var(--viridian);
    color: white;
    transition: ease 0.5s;
  }

  .register-container{
    background-color: var(--ghost-white);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    box-shadow: 5px 5px 5px 5px black;
    height: 600px;
    width: 400px;  
}

.register-container input[type=submit]{
    width: 100%;
    margin-top: 20px;
  }

  .register-container input[type=submit]:hover{
    background-color: var(--orange);
    transition: ease 0.5s;
  }